<h1> Users </h1>
<table>
    <tr>
      <th> first name </th>
      <th> last name </th>
      <th> middle name </th>
      <th> email </th>
    </tr>
    <td>
  <% @users.each do |user| %>
    <tr>
      <td> <h3> <%= user.first_name %> </h3> </td>
      <td> <h3> <%= user.middle_name %> </h3> </td>
      <td> <h3> <%= user.last_name %> </h3> </td>
      <td> <h3> <%= user.email %> </h3> </td>
      <td>

      </td>
    </tr>
  <% end %>
